.weatherApp {
  background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
  margin: auto;
  padding: 40px;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #333;
  background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
  max-width: 520px;
  min-width: 500px;
  border: 1px solid;
  border-radius: 3px;
  border-color: #fdafa8;
}

.kpi {
  font-size: 50px;
}

#unit-f {
  color: gray;
  font-weight: lighter;
}

#unit-c {
  font-weight: bold;
  color: black;
}

.mytime {
  font-size: 18px;
  padding-bottom: 20px;
}
.current-city {
  padding-top: 20px;
}
ul {
  font-size: 11px;
  text-align: left;
  list-style: none;
  padding: 0px;
}
